h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
}
@media (min-width: 768px) {
  h1 {
    line-height: 90px;
  }
}
h2 {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
}
@media (min-width: 768px) {
  h2 {
    line-height: 75px;
  }
}
h3 {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  color: #554dde;
}
h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}
body {
  overflow-y: scroll;
  font-family: 'Roboto', sans-serif;
  margin: auto;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #f2f6ff;
  color: #6a6d9e;
}
html {
  scroll-behavior: smooth;
}
.caption {
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #6a6d9e;
}
.shadow {
  box-shadow: 0px 25px 50px 0px #16194F0D;
}
.flex {
  display: flex;
  gap: 16px;
}
.button {
  padding: 16px 32px;
  border-radius: 16px;
  border: none;
  color: #ffffff;
  background-color: #16194f;
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background-color: #6a6d9e;
}
.button.button--bgaccent {
  background-color: #f44e77;
  border: 1px solid #f44e77;
}
.button.button--bgaccent:hover {
  background-color: #f2f6ff;
  border: 1px solid #f44e77;
  color: #f44e77;
}
.button.button--outlined {
  background-color: transparent;
  border: 1px solid #16194f;
  color: #16194f;
}
.button.button--outlined:hover {
  color: #f44e77;
  border: 1px solid #f44e77;
}
.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 768px) {
  .layout {
    flex-direction: row;
    margin-top: 160px;
    margin-bottom: 160px;
    gap: 80px;
  }
}
.layout .layout__left {
  width: 100%;
}
.wrapper {
  margin: auto;
  padding: 0 16px;
}
@media (min-width: 768px) {
  .wrapper {
    max-width: 1200px;
    padding: 0 64px;
  }
}
#header {
  display: flex;
  flex-direction: row;
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  padding: 10px;
  z-index: 3;
}
@media (min-width: 768px) {
  #header {
    background-color: unset;
    position: relative;
    max-width: 1200px;
    padding: 0 64px;
    margin: auto;
    margin-top: 80px;
    justify-content: space-between;
  }
}
#header .menu {
  display: flex;
  gap: 40px;
  align-items: center;
}
#header .menu .menu__item {
  text-decoration: none;
  text-align: center;
  color: #6a6d9e;
  cursor: pointer;
}
@media (min-width: 768px) {
  #header .menu .menu__item {
    padding: 8px 16px;
  }
}
#header .menu .menu__item:hover {
  color: #554dde;
}
#header button {
  display: none;
}
@media (min-width: 768px) {
  #header button {
    display: block;
  }
}
@media (min-width: 768px) {
  #hero {
    margin-top: 80px;
  }
}
#hero .hero__left {
  margin-top: 60px;
  align-self: flex-start;
}
@media (min-width: 768px) {
  #hero .hero__left {
    margin-top: 80px;
  }
}
#hero img {
  max-width: 100%;
}
@media (min-width: 768px) {
  #hero img {
    max-width: unset;
  }
}
#card {
  margin-bottom: 80px;
  gap: 16px;
}
@media (min-width: 768px) {
  #card {
    gap: 245px;
  }
}
#card img {
  box-shadow: 0px 25px 50px 0px #16194F0D;
  width: 100%;
}
@media (min-width: 768px) {
  #card img {
    width: unset;
  }
}
#finances .layout__left {
  align-self: flex-start;
}
.insights {
  display: flex;
  gap: 16px;
  margin-bottom: 32px;
}
.insights__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 25px 50px 0px #16194F0D;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 16px;
  width: 100%;
  flex: 1;
}
@media (min-width: 768px) {
  .insights__item {
    padding: 32px;
    background-color: #ffffff;
    border-radius: 32px;
  }
}
.insights__item .insight__title {
  margin: 0px;
}
.insights__item .insight__amount {
  margin: 0px;
}
.positiveIncrease {
  background-color: #554dde;
}
.deathIncrease {
  background-color: #f44e77;
}
#covidChart {
  padding: 16px;
  background-color: #ffffff;
  border-radius: 16px;
  padding-bottom: 64px;
  box-shadow: 0px 25px 50px 0px #16194F0D;
}
@media (min-width: 768px) {
  #covidChart {
    padding: 32px;
    background-color: #ffffff;
    border-radius: 32px;
    padding-bottom: 64px;
  }
}
#covidChart tbody tr {
  margin: 0 8px;
}
#covidChart tbody tr td {
  border-radius: 32px;
}
#covidChart tbody tr td:nth-child(even) {
  background-color: #554dde;
  color: black;
}
#covidChart tbody tr td:nth-child(odd) {
  background-color: #f44e77;
  color: black;
}
#covidChart tbody tr th {
  bottom: -2px;
  font-size: 13px;
  color: #6a6d9e;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
@media (min-width: 768px) {
  #support .layout__left {
    max-width: 40%;
  }
}
#support .layout__left div {
  display: flex;
  align-items: center;
  gap: 16px;
}
.message {
  display: grid;
  grid-template-columns: 60px auto;
  grid-template-rows: auto auto;
  gap: 2px 20px;
  margin-bottom: 32px;
}
.message__avatar {
  aspect-ratio: 1;
  object-fit: auto;
  object-position: center;
  width: 55px;
  border-radius: 50%;
  align-self: end;
}
.message__avatar --user {
  width: 100px;
}
.message__text {
  padding: 16px;
  border-radius: 32px 32px 32px 0px;
  background-color: #ffffff;
  color: #6a6d9e;
  align-self: start;
}
.message__nameTimestamp {
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  color: #6a6d9e;
}
.message__user {
  grid-template-columns: auto 60px;
}
.message__user .message__text {
  border-radius: 32px 32px 0px 32px;
  background-color: #6a6d9e;
  color: #f2f6ff;
}
.message__user .message__nameTimestamp {
  text-align: right;
}
.title__half {
  color: #f44e77;
}
#plans {
  text-align: center;
}
#plans .plans {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
  margin-top: 80px;
}
@media (min-width: 768px) {
  #plans .plans {
    flex-direction: row;
  }
}
#plans .plan {
  box-shadow: 0px 25px 50px 0px #16194F0D;
  padding: 16px;
  background-color: #ffffff;
  border-radius: 32px;
}
@media (min-width: 768px) {
  #plans .plan {
    padding: 32px;
    background-color: #ffffff;
    border-radius: 64px;
  }
}
#plans .plan .plan__name {
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
  color: black;
  margin: 40px 0;
}
#plans .plan .plan__price {
  font-size: 40px;
  font-weight: 400;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: center;
  color: black;
  margin: 40px 0;
}
#plans .plan button {
  margin: 20px 0 40px 0;
}
#plans .plan__features--disabled {
  opacity: .3;
}
#plans .plan__tag {
  padding: 0px 16px;
  margin: 40px 0;
}
#plans .plan__button {
  margin: 40px 0;
}
#plans .plan__card {
  box-shadow: 0px 25px 50px 0px #16194F0D;
  width: 100%;
  margin: 0 0 40px 0;
}
#plans ul {
  margin: 0;
  list-style: none;
  list-style-position: inside;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}
#plans ul ::before {
  content: url("assets/Check-icon.svg");
  margin-right: 8px;
  vertical-align: middle;
}
#plans li {
  margin: 16px 0;
}
#faq {
  text-align: center;
  margin-top: 160px;
}
#faq p {
  margin: auto;
  max-width: 60%;
}
#faq summary {
  padding: 32px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 25px 50px 0px #16194F0D;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #6a6d9e;
  cursor: pointer;
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}
#faq details ::after {
  content: url("assets/Plus-icon.svg");
}
#faq .head-tag {
  margin-bottom: 80px;
}
#footer {
  background-color: #DCE2F0;
}
#footer .wrapper {
  flex-direction: column;
  padding: 160px 64px;
  margin-top: 160px;
  justify-content: space-between;
  align-items: center;
  gap: 80px;
}
@media (min-width: 768px) {
  #footer .wrapper {
    flex-direction: row;
  }
}
#footer .footer__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
